:root {
    --main-bg-color: hsl(212, 45%, 89%);
    --card-bg-color: hsl(0, 0%, 100%);
    --font-size-p: 16px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    max-width: 900px;
    width: 100%;
    border: 2px solid var(--main-bg-color);
    margin: 0 auto;
}

.card {
    background-color: var(--card-bg-color);
    width: 250px;
    height: 400px;
    max-width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
}

.img {
    position: absolute;
    left: 4%;
    top: 10px;
    width: 230px;
    height: 230px;
}

.img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.text h2 {
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
}

.text p {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-bg-color);
    margin-top: 5px;
}

@media screen and (max-width: 640px) {
    .container {
        background-color: var(--main-bg-color);
    }
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 400px;
        position: relative;
    }
    .text {
       text-align: center;
       width: 100%;
       margin-top: 190px;
    }
}
/*.img img{ 
    width: 200px;
    height: 150px;
    position: absolute;
    top: 10px;
    right: 50px;
    left: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text {
    margin-top: 120px;
}

.text h2 {
    font-size: 20px;
}

.text p {
    font-size: 16px;
    color: var(--main-bg-color);
    margin-top: 10px;
    font-weight: bold;
   
}